<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Beans DAO -->
    <bean id="hotelDAO" class="persistence.HotelPersistence" />
    <bean id="siteDAO" class="persistence.SitePersistence" />

    <!-- Beans Selectors -->
    <bean id="hotelSelector" class="business.tools.HotelSelector">
        <property name="hotelDAO" ref="hotelDAO"/>
    </bean>

    <bean id="siteSelector" class="business.tools.SiteSelector">
        <property name="siteDAO" ref="siteDAO"/>
    </bean>

    <!-- Bean OfferBuilder -->
    <bean id="offerBuilder" class="business.tools.OfferBuilder">
        <property name="hotelSelector" ref="hotelSelector"/>
        <property name="siteSelector" ref="siteSelector"/>
    </bean>

</beans>
