/*les bases*/

*{margin:0; padding:0;}

html{
	background:url(fond/plage2.jpg) fixed no-repeat;
	background-size: cover;
	}


body {
	/*margin:20px;*/
	display:block;
	margin-top:100px;
	/*border-radius:20px;*/
	padding:10px;
	padding-top:30px;
	padding-bottom:30px;
	background-color: rgba(8, 18, 20, 0.7 );
	color:#ffffff;
	text-align:left;
}

body h1 {
	color:  #a1ebf2;
	font-size:35px;
	padding:20px;
	text-shadow: (2px,2px,2px, black);
	text-align:center;
}
	
body form{
	padding:20px;
	color: #ffffff;
	/*text-align:justify;*/
	text-align:left;
}
	
li {
		padding:20px;
}
	
nom{
	text-decoration: underline;
}

footer{
	background-color: rgba(8, 18, 20, 0.9 );
	color:#ffffff;
	/*position:absolute;
	bottom:0px;*/
	width:100%;
	margin-top:200px;
}

footer a{
	color:#ffffff;
}